<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Canvas</title>
        <link rel="stylesheet" href="stylesheets/TestCanvas.css">
    </head>
    <body>
        <div id="canvas-container">
            <canvas id="game-canvas-container" width="800" height="450"></canvas>
        </div>
        <script type="text/javascript" src="javascripts/lib/jquery/jquery.js"></script>
        <script type="text/javascript" src="javascripts/CanvasDrawer.js"></script>
        <script type="text/javascript" src="javascripts/canvas.js"></script>
    </body>

</html>